.header-container {
  width: 100%;
  height: 300px;
  background-image: url("Assets/imgs/pattern-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: -20px;
  z-index: 2;
}
.header-container .header-title {
  padding: 40px 0;
  line-height: 30px;
  font-weight: 500;
  font-size: 1.625rem;
  color: #FFFFFF;
  margin: 0 auto;
}
.header-container .form-search {
  width: 327px;
  height: 58px;
  display: flex;
  margin: 0 auto;
}
.header-container .form-search .input-search {
  width: 327px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 1.125rem;
  border: none;
  color: hsl(0deg, 0%, 17%);
  padding: 0 15px;
}
.header-container .form-search .input-search:focus {
  outline: none;
}
.header-container .form-search .button-search {
  border: none;
  height: 58px;
  width: 58px;
  background-color: #000000;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 0.2s;
}
.header-container .form-search .button-search:hover {
  background-color: hsl(0deg, 0%, 17%);
  transition: all 0.2s;
}
.header-container .information-container {
  margin: 195px auto 0 auto;
  width: 327px;
  height: 294px;
  background-color: #FFFFFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.header-container .information-container .infotext-container {
  width: 279px;
  height: 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header-container .information-container .infotext-header {
  font-weight: 700;
  letter-spacing: 1.46px;
  font-size: 0.625rem;
  color: hsl(0deg, 0%, 59%);
}
.header-container .information-container .infotext {
  line-height: 24px;
  letter-spacing: -0.18px;
  font-size: 1.125rem;
  color: hsl(0deg, 0%, 17%);
}
@media (min-width: 1140px) {
  .header-container .header-title {
    font-size: 2rem;
  }
  .header-container .form-search {
    width: 555px;
  }
  .header-container .form-search .input-search {
    width: 497px;
  }
  .header-container .information-container {
    margin: 220px auto 0 auto;
    width: 1110px;
    height: 161px;
    flex-direction: row;
    padding: 30px 20px;
    align-items: center;
  }
  .header-container .information-container .infotext-container {
    width: 213px;
    align-items: flex-start;
    justify-content: center;
    height: 88px;
  }
  .header-container .information-container .infotext-container .infotext {
    margin-top: 10px;
    display: flex;
    font-size: 1.625rem;
    width: 213px;
    min-height: 61px;
    align-items: center;
    border-right: 1px solid hsl(0deg, 0%, 59%);
    font-weight: bold;
  }
  .header-container .information-container .infotext-container .last-infotext {
    border: none;
  }
}

.map {
  width: 100%;
  height: 551px;
  z-index: 1;
}

@media (min-width: 1140px) {
  .map {
    height: calc(100vh - 300px);
  }
}

/*# sourceMappingURL=App.css.map */
